In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [2]:
reviews = []
stars = []
date = []
country = []

In [3]:
base_url = "https://www.airlinequality.com/airline-reviews/british-airways"
pages = 40
page_size = 100

for i in range (1, pages+1):
    
    print(f"Scrapping page {i}")
    
    url = f"{base_url}/page/{i}/?sortby=post_date%3ADesc&pagesize={page_size}"
    
    page = requests.get(url)
    
    soup = BeautifulSoup(page.content, "html.parser")
    
    #reviews
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
        
    #stars
    for item in soup.find_all("div", class_="rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
    
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
    
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))
        
    print(f"   ---> {len(reviews)} total reviews")

Scrapping page 1
   ---> 100 total reviews
Scrapping page 2
   ---> 200 total reviews
Scrapping page 3
   ---> 300 total reviews
Scrapping page 4
   ---> 400 total reviews
Scrapping page 5
   ---> 500 total reviews
Scrapping page 6
   ---> 600 total reviews
Scrapping page 7
   ---> 700 total reviews
Scrapping page 8
   ---> 800 total reviews
Scrapping page 9
   ---> 900 total reviews
Scrapping page 10
   ---> 1000 total reviews
Scrapping page 11
   ---> 1100 total reviews
Scrapping page 12
   ---> 1200 total reviews
Scrapping page 13
   ---> 1300 total reviews
Scrapping page 14
   ---> 1400 total reviews
Scrapping page 15
   ---> 1500 total reviews
Scrapping page 16
   ---> 1600 total reviews
Scrapping page 17
   ---> 1700 total reviews
Scrapping page 18
   ---> 1800 total reviews
Scrapping page 19
   ---> 1900 total reviews
Scrapping page 20
   ---> 2000 total reviews
Scrapping page 21
   ---> 2100 total reviews
Scrapping page 22
   ---> 2200 total reviews
Scrapping page 23
   ---> 2300 total reviews
Scrapping page 24
   ---> 2400 total reviews
Scrapping page 25
   ---> 2500 total reviews
Scrapping page 26
   ---> 2600 total reviews
Scrapping page 27
   ---> 2700 total reviews
Scrapping page 28
   ---> 2800 total reviews
Scrapping page 29
   ---> 2900 total reviews
Scrapping page 30
   ---> 3000 total reviews
Scrapping page 31
   ---> 3100 total reviews
Scrapping page 32
   ---> 3200 total reviews
Scrapping page 33
Error on page 33
   ---> 3300 total reviews
Scrapping page 34
   ---> 3400 total reviews
Scrapping page 35
Error on page 35
Error on page 35
   ---> 3500 total reviews
Scrapping page 36
   ---> 3600 total reviews
Scrapping page 37
Error on page 37
   ---> 3700 total reviews
Scrapping page 38
Error on page 38
   ---> 3800 total reviews
Scrapping page 39
   ---> 3861 total reviews
Scrapping page 40
   ---> 3861 total reviews

In [4]:
len(reviews)

3861

In [5]:
len(country)

3861

In [6]:
stars = stars[:len(reviews)]

In [7]:
df = pd.DataFrame({"reviews":reviews, "stars":stars, "date":date, "country":country})

In [8]:
df.head()

,reviews,stars,date,country
0,Not Verified | My wife and I are very disappo...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,13th September 2024,United States
1,Not Verified | We flew BA between Heathrow an...,1,13th September 2024,Australia
2,Not Verified | Absolutely disgusted with BA. ...,8,13th September 2024,United Kingdom
3,Not Verified | Took a trip to Nashville with m...,1,11th September 2024,United Kingdom
4,Not Verified | A nightmare journey courtesy o...,8,8th September 2024,United Kingdom

In [9]:
df.shape

(3861, 4)

In [10]:
df.to_csv("BA_Reviews.csv")